.DS_Store
.ipynb_checkpoints
*.pyc
__pycache__
*.egg-info
build/*
dist/*
*~
.cache
.coverage
checkpoint
htmlcov
mnist
*.zip
saved_model
training_1
training_2
checkpoints
my_dir
training_checkpoints
deu-eng
nico_training_checkpoints
att_training_checkpoints
att2_training_checkpoints